.pantalla{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    width: 200px;
    border: 3px solid black;
    background-color:#2ec4b6;
    color: black;
    text-align: center;
    padding: 50px 10px;
    border-radius: 20px;
    margin-bottom: 30px;


}